<div class="document row">
  <div class="sidebar col-lg-2 col-md-2">

    <div class="tools" ng-show="!editing">
      <button class="btn" ng-click="requestDocument()" title="درخواست سند"><i class="fa fa-download"></i></button>
      <button class="btn" ng-click="applyDocuments()" title="ثبت نهایی"><i class="fa fa-upload"></i></button>
    </div>

    <div class="text-center loading" ng-show="locked && treeConfig.version == 1">
      <img src="public/images/loading.svg" />
      در حال دریافت لیست اسناد
    </div>

    <div class="treeview" js-tree="treeConfig" ng-model="treeData" tree="treeInstance"
      tree-events="select_node:onTreeChange;deselect_node:onTreeChange" ng-show="!editing">
    </div>

    <div class="tags" ng-controller="TagController" ng-show="editing">
      <div class="title">برچسب ها</div>

      <div ng-show="editing">
        <input type="text" class="fasttag form-control" dir="ltr"
          ng-keypress="$event.which === 13 && tagCheckedChange()"
          placeholder="شماره برچسب را وارد کنید" />
      </div>

      <div class="treeview" js-tree="treeTagConfig" ng-model="tagsData"
        tree="tagsInstance" tree-events="select_node:onTreeChange;deselect_node:onTreeChange">
      </div>

      <div class="btns">
        <button class="btn btn-primary" ng-disabled="saving" ng-click="saveEdit('doc')" style="width: 100%">
          <img src="public/images/loading.svg" style="width: 16px" ng-show="saving"/>
          <span ng-show="saving">صبر کنید</span>
          <span ng-show="!saving">ذخیره</span>
        </button>

        <button class="btn btn-default" ng-disabled="saving" ng-click="saveEdit('trash')" style="width: 48%">برگه سفید</button>
        <button class="btn btn-danger" ng-disabled="saving" ng-click="cancelEdit()" style="width: 48%">انصراف</button>
      </div>
    </div>

  </div>

  <div class="main col-lg-10 col-md-10">

    <div class="text-center">
      <div uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
        next-text="صفحه بعد" previous-text="صفحه قبل"
        template-url="app/views/templates/ui-bootstrap/pagination/pagination.html"
        ng-show="totalItems > 10 && !editing" ng-disabled="locked">
      </div>
    </div>

    <div class="text-center loading" ng-show="locked">
      <img src="public/images/loading.svg" />
      در حال دریافت اطلاعات
    </div>

    <div class="text-center nothing" ng-show="currentDocument == -1 && !locked">
      <i class="fa fa-reddit-alien fa-5x"></i>
      هیچ موردی برای نمایش وجود ندارد
    </div>


    <ul class="images" ng-show="!editing && !locked">
      <li ng-repeat="image in images" ng-click="openImage($index)">
        <span class="badge tagCount">{{ image.tags.length }}</span>
        <img ng-src="data:image/png;base64,{{ image.thumbnail }}" class="img-thumbnail">
      </li>
    </ul>

    <div class="row image-rotation text-center" ng-show="editing">
      <button class="btn btn-info" ng-click="rotateRight()">
        <i class="fa fa-rotate-right"></i>
      </button>

      <button class="btn btn-info" ng-click="rotateLeft()">
        <i class="fa fa-rotate-left"></i>
      </button>
    </div>

    <div class="image-edit" ng-show="editing">
      <img id="imgedit" ng-src="{{ currentImage }}" />
    </div>

  </div>
</div>
