<div class="sidemenu">
  <div class="row">

    <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">

      <ul class="menu">
        <li ng-show="isAdmin">
          <i class="fa fa-users fa-4x"></i>
          <a ui-sref="user.management" ng-click="clicked()">مدیریت کاربران</a>
        </li>

        <li>
          <i class="fa fa-download fa-4x"></i>
          <a ui-sref="draft.list" ng-click="clicked()">بارگذاری اسناد</a>
        </li>

        <li>
          <i class="fa fa-archive fa-4x"></i>
          <a ui-sref="document.archive" ng-click="clicked()">آرشیو اسناد</a>
        </li>

        <li ng-show="isAdmin">
          <i class="fa fa-clone fa-4x"></i>
          <a ui-sref="paper.white" ng-click="clicked()">مدیریت برگه سفید</a>
        </li>

        <li>
          <i class="fa fa-sign-out fa-4x"></i>
          <a ui-sref="logout" ng-click="clicked()">خروج</a>
        </li>

      </ul>

    </div>
  </div>
</div>
