@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans/IRANSans-Bold-web.eot");
  src: url("../fonts/iransans/IRANSans-Bold-web.eot?#iefix") format("eot"), url("../fonts/iransans/IRANSans-Bold-web.woff2") format("woff2"), url("../fonts/iransans/IRANSans-Bold-web.woff") format("woff"), url("../fonts/iransans/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans/IRANSans-Medium-web.eot");
  src: url("../fonts/iransans/IRANSans-Medium-web.eot?#iefix") format("eot"), url("../fonts/iransans/IRANSans-Medium-web.woff2") format("woff2"), url("../fonts/iransans/IRANSans-Medium-web.woff") format("woff"), url("../fonts/iransans/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500; }

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans/IRANSans-UltraLight-web.eot");
  src: url("../fonts/iransans/IRANSans-UltraLight-web.eot?#iefix") format("eot"), url("../fonts/iransans/IRANSans-UltraLight-web.woff2") format("woff2"), url("../fonts/iransans/IRANSans-UltraLight-web.woff") format("woff"), url("../fonts/iransans/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200; }

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans/IRANSans-Light-web.eot");
  src: url("../fonts/iransans/IRANSans-Light-web.eot?#iefix") format("eot"), url("../fonts/iransans/IRANSans-Light-web.woff2") format("woff2"), url("../fonts/iransans/IRANSans-Light-web.woff") format("woff"), url("../fonts/iransans/IRANSans-Light-web.ttf") format("ttf");
  font-weight: 300; }

@font-face {
  font-family: 'iransans';
  src: url("../fonts/iransans/IRANSans-web.eot");
  src: url("../fonts/iransans/IRANSans-web.eot?#iefix") format("eot"), url("../fonts/iransans/IRANSans-web.woff2") format("woff2"), url("../fonts/iransans/IRANSans-web.woff") format("woff"), url("../fonts/iransans/IRANSans-web.ttf") format("ttf");
  font-weight: normal; }

body {
  font-family: 'iransans';
  font-size: 1.2em; }

input, button {
  border-radius: 0 !important; }

.container {
  margin-right: 1%;
  margin-left: 1%; }

.login {
  background-color: #E9EAED;
  margin-top: 10%;
  padding: 5%;
  border-radius: 4px; }

ul.menu {
  margin-top: 20%;
  text-align: center; }
  ul.menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 3em; }
    ul.menu li i {
      color: #6B74D8;
      dispaly: block; }
    ul.menu li a {
      margin-top: 0.4em;
      display: block;
      color: #000; }

/*
* Draft
*/
.draft.upload .uploader {
  margin: 30vh auto 0 auto;
  width: 70%;
  margin-bottom: 5vh; }

.draft.upload span {
  color: gray; }
  .draft.upload span img {
    width: 2em;
    margin-left: 5px; }

.draft .sidebar {
  border-left: 1px solid #cacaca;
  height: 100vh; }
  .draft .sidebar .loading {
    font-size: 0.8em;
    margin-top: 10vh; }
    .draft .sidebar .loading img {
      width: 32px;
      margin: 0 auto;
      display: block;
      padding-bottom: 1%; }
  .draft .sidebar .tree .treeview {
    margin-top: 4%; }
  .draft .sidebar .tools {
    background: #f5f5f5;
    padding: 1px;
    width: 100%;
    border-radius: 3px;
    margin-top: 3%; }
    .draft .sidebar .tools button {
      background: transparent;
      border-radius: 35px !important; }
      .draft .sidebar .tools button i {
        color: purple;
        font-size: 1.3em; }

.draft .main .loading {
  font-size: 1.4em;
  margin-top: 30vh; }
  .draft .main .loading img {
    width: 64px;
    margin: 0 auto;
    display: block;
    padding-bottom: 1%; }

.draft .main .nothing {
  font-size: 1.4em;
  color: #9b9999;
  margin-top: 35vh; }
  .draft .main .nothing i {
    display: block;
    padding-bottom: 1%;
    color: #9b9999; }

.draft .main .images {
  display: inline-block;
  margin-top: 4%; }
  .draft .main .images li {
    list-style-type: none; }
    .draft .main .images li img {
      border: 1px solid #ccc; }

/* Document */
.document .sidebar {
  border-left: 1px solid #cacaca;
  height: 100vh; }
  .document .sidebar .loading {
    font-size: 0.8em;
    margin-top: 10vh; }
    .document .sidebar .loading img {
      width: 32px;
      margin: 0 auto;
      display: block;
      padding-bottom: 1%; }
  .document .sidebar .treeview {
    font-size: 0.9em; }
  .document .sidebar .tools {
    background: #f5f5f5;
    padding: 1px;
    width: 100%;
    border-radius: 3px;
    margin-top: 3%;
    margin-bottom: 5px; }
    .document .sidebar .tools button {
      background: transparent;
      border-radius: 35px !important; }
      .document .sidebar .tools button i {
        color: purple;
        font-size: 1.3em; }
  .document .sidebar .tags {
    margin-top: 3%;
    width: 100%; }
    .document .sidebar .tags .fasttag {
      font-size: 0.9em;
      margin-bottom: 5px; }
    .document .sidebar .tags .title {
      margin-bottom: 3%;
      background: #F5F5F5;
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 5px; }
    .document .sidebar .tags .btns {
      margin-top: 5vh; }
      .document .sidebar .tags .btns button {
        font-size: 0.9em;
        margin-top: 2vh;
        border-radius: 4px !important; }

.document .main .loading {
  font-size: 1.4em;
  margin-top: 30vh; }
  .document .main .loading img {
    width: 64px;
    margin: 0 auto;
    display: block;
    padding-bottom: 1%; }

.document .main .nothing {
  font-size: 1.4em;
  color: #9b9999;
  margin-top: 35vh; }
  .document .main .nothing i {
    display: block;
    padding-bottom: 1%;
    color: #9b9999; }

.document .main .images {
  margin-top: 4%; }
  .document .main .images li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    margin: 0 0 2% 2%; }
    .document .main .images li img {
      border: 1px solid #ccc; }
      .document .main .images li img:hover {
        opacity: 0.6; }
    .document .main .images li .tagCount {
      position: absolute;
      left: 5%;
      top: 5%; }

.document .main .image-edit {
  overflow: auto;
  text-align: center;
  margin-top: 3vh;
  max-height: 82vh; }
  .document .main .image-edit img {
    width: 100%; }

.document .main .image-rotation {
  margin-bottom: 1%;
  margin-top: 1%; }

/* Paper */
.paper.white .btn.remove {
  font-size: 13px !important;
  margin: 3% 4% 0 0; }

.paper.white ul.images {
  list-style-type: none;
  margin-top: 1.4%;
  text-align: right; }
  .paper.white ul.images li {
    margin: 10px;
    display: inline-block; }
    .paper.white ul.images li img {
      border: 1px solid #ccc; }
      .paper.white ul.images li img:hover {
        cursor: pointer; }

.user .table {
  text-align: center;
  marign: 0 auto; }

.user .new {
  font-size: 1em;
  margin: 2% 1%; }
  .user .new button {
    font-size: 14px; }

.user .add {
  margin-top: 5%; }

/* Side menu */
.sidemenu {
  position: absolute;
  left: 1%;
  top: 1%;
  cursor: pointer;
  color: #d3a7a7; }
  .sidemenu:hover {
    color: rgba(211, 167, 167, 0.9); }
  .sidemenu .menu li {
    margin-bottom: 5vh; }
