<div class="row" ui-view>

  <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2">

    <ul class="menu">
      <li ng-show="isAdmin">
        <i class="fa fa-users fa-4x"></i>
        <a ui-sref="user.management">مدیریت کاربران</a>
      </li>

      <li>
        <i class="fa fa-download fa-4x"></i>
        <a ui-sref="draft.list">بارگذاری اسناد</a>
      </li>

      <li>
        <i class="fa fa-archive fa-4x"></i>
        <a ui-sref="document.archive">آرشیو اسناد</a>
      </li>

      <li ng-show="isAdmin">
        <i class="fa fa-clone fa-4x"></i>
        <a ui-sref="paper.white">مدیریت برگه های سفید</a>
      </li>

      <li>
        <i class="fa fa-sign-out fa-4x"></i>
        <a ui-sref="logout">خروج از حساب کاربری</a>
      </li>

    </ul>
  </div>
</div>
