<div class="login col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">

  <form class="form-horizontal" novalidate ng-submit="login()">

    <div class="form-group">
      <label class="col-sm-2 control-label">نام کاربری</label>
      <div class="col-sm-10">
        <input type="username" ng-model="username" class="form-control" dir="ltr">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">کلمه عبور</label>
      <div class="col-sm-10">
        <input ng-model="password" type="password" class="form-control" dir="ltr">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <submit-button title="ورود" class="btn btn-primary"></submit-button>
      </div>
    </div>

  </form>

</div>
