<div class="row user">

  <div class="add col-md-6 col-md-offset-3">
     <form class="form-horizontal" novalidate ng-submit="save()">

      <div class="form-group">
        <label class="col-sm-2 control-label">نام کاربری</label>
        <div class="col-sm-10">
          <input type="username" ng-model="username" class="form-control" dir="ltr">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">کلمه عبور</label>
        <div class="col-sm-10">
          <input ng-model="password" type="text" class="form-control" dir="ltr">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">رتبه در سیستم</label>
        <div class="col-sm-10">
          <select ng-model="role" class="form-control">
            <option value="">انتخاب کنید</option>
            <option value="admin">مدیر سیستم</option>
            <option value="operator">اپراتور</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <submit-button title="ثبت نام" class="btn btn-primary"></submit-button>
        </div>
      </div>

    </form>
  </div>

</div>
