<div class="row user">

  <div class="new col-md-12">
    <button class="btn btn-primary" ng-click="useradd()">
      <i class="fa fa-user fa-1x"></i> کاربر جدید
    </button>
  </div>

  <div class="col-md-12">

    <table class="table">

      <thead>
        <tr>
          <td>ردیف</td>
          <td>نام کاربری</td>
          <td>رتبه</td>
          <td>وضعیت</td>
          <td></td>
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="user in users">
          <td>{{ user.id }} </td>
          <td>{{ user.username}}</td>
          <td>{{ user.role}}</td>
          <td>فعال <i class="fa fa-check"></i></td>
          <td>
            <button style="font-size: 12px;" class="btn btn-link" ng-click="userEdit(user.id, user.username)">
              ویرایش
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
