<div class="row paper white">
  <div class="col-md-12">

    <button class="btn btn-danger remove" ng-click="removeall()">
      <i class="fa fa-remove"></i> حذف موارد انتخاب شده
    </button>

    <ul class="images">
      <li ng-repeat="image in papers" id="elm-{{image.id}}">
        <img ng-src="data:image/png;base64,{{ image.thumbnail }}" id="img-{{image.id}}"
        ng-click="toggleCheck(image.id)" ng-dblclick="remove(image.id)" >

        <div style="text-align: center; margin-top: 3px;">
          <button style="width: 100%;" class="btn btn-link" ng-click="restore(image.id)">بازگرداندن به لیست</button>
        </div>
      </li>
    </ul>
  </div>
</div>
