@import 'public/fonts/iransans';

body {
  font-family: 'iransans';
  font-size: 1.2em;
}

input, button {
  border-radius: 0 !important;
}

.container {
  margin-right: 1%;
  margin-left: 1%;
}

.login {
  background-color: #E9EAED;
  margin-top: 10%;
  padding: 5%;
  border-radius: 4px;
}

ul.menu {
  margin-top: 20%;
  text-align: center;

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 3em;

    i {
      color: #6B74D8;
      dispaly: block;
    }

    a {
      margin-top: 0.4em;
      display: block;
      color: #000;
    }
  }
}

/*
* Draft
*/
.draft {
  &.upload {
    .uploader {
      margin: 30vh auto 0 auto;
      width: 70%;
      margin-bottom: 5vh;
    }

    span {
      color: gray;
      img {
        width: 2em;
        margin-left: 5px;
      }
    }
  }

  .sidebar {
    border-left: 1px solid #cacaca;
    height: 100vh;

    .loading {
      font-size: 0.8em;
      margin-top: 10vh;
      img {
        width: 32px;
        margin: 0 auto;
        display: block;
        padding-bottom: 1%;
      }
    }

    .tree {
      .treeview {
        margin-top: 4%;
      }
    }

    .tools {
      background: #f5f5f5;
      padding: 1px;
      width: 100%;
      border-radius: 3px;
      margin-top: 3%;
      button {
        background: transparent;
        border-radius: 35px !important;
        i{
          color: purple;
          font-size: 1.3em;
        }
      }
    }
  }

  .main {

    .loading {
      font-size: 1.4em;
      margin-top: 30vh;
      img {
        width: 64px;
        margin: 0 auto;
        display: block;
        padding-bottom: 1%;
      }
    }

    .nothing{
      font-size: 1.4em;
      color: #9b9999;
      margin-top: 35vh;
      i {
        display: block;
        padding-bottom: 1%;
        color: #9b9999;
      }
    }

    .images {
      display: inline-block;
      margin-top: 4%;

      li {
        list-style-type: none;
        img {
          border: 1px solid #ccc;
        }
      }
    }
  }
}

/* Document */
.document {

  .sidebar {
    border-left: 1px solid #cacaca;
    height: 100vh;

    .loading {
      font-size: 0.8em;
      margin-top: 10vh;
      img {
        width: 32px;
        margin: 0 auto;
        display: block;
        padding-bottom: 1%;
      }
    }

    .treeview{
      font-size: 0.9em;
    }

    .tools {
      background: #f5f5f5;
      padding: 1px;
      width: 100%;
      border-radius: 3px;
      margin-top: 3%;
      margin-bottom: 5px;
      button {
        background: transparent;
        border-radius: 35px !important;
        i{
          color: purple;
          font-size: 1.3em;
        }
      }
    }

    .tags {
      margin-top: 3%;
      width: 100%;

      .fasttag {
        font-size: 0.9em;
        margin-bottom: 5px;
      }
      .title {
        margin-bottom: 3%;
        background: #F5F5F5;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 5px;
      }
      .btns {
        margin-top: 5vh;
        button {
          font-size: 0.9em;
          margin-top: 2vh;
          border-radius: 4px !important;
        }
      }
    }
  }

  .main {
    .loading {
      font-size: 1.4em;
      margin-top: 30vh;
      img {
        width: 64px;
        margin: 0 auto;
        display: block;
        padding-bottom: 1%;
      }
    }

    .nothing{
      font-size: 1.4em;
      color: #9b9999;
      margin-top: 35vh;
      i {
        display: block;
        padding-bottom: 1%;
        color: #9b9999;
      }
    }

    .images {
      margin-top: 4%;

      li {
        position: relative;
        display: inline-block;
        list-style-type: none;
        cursor: pointer;
        margin: 0 0 2% 2%;
        img {
          border: 1px solid #ccc;
          &:hover{
            opacity: 0.6;
          }
        }
        .tagCount{
          position: absolute;
          left: 5%;
          top: 5%;
        }
      }
    }

    .image-edit {
      overflow: auto;
      text-align: center;
      margin-top: 3vh;
      max-height: 82vh;
      img {
        width: 100%;
      }
    }

    .image-rotation {
      margin-bottom: 1%;
      margin-top: 1%;
    }
  }
}

/* Paper */
.paper {
  &.white {

    .btn.remove {
      font-size: 13px !important;
      margin: 3% 4% 0 0;
    }

    ul.images {
      list-style-type: none;
      margin-top: 1.4%;
      text-align: right;
      li {
        margin: 10px;
        display: inline-block;
        img {
          border: 1px solid #ccc;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}

.user {
  .table {
    text-align: center;
    marign: 0 auto;
  }

  .new {
    font-size: 1em;
    margin: 2% 1%;
    button {
      font-size: 14px;
    }
  }

  .add {
    margin-top: 5%;
  }
}

/* Side menu */
.sidemenu {
  position: absolute;
  left: 1%;
  top: 1%;
  cursor: pointer;
  color: rgb(211, 167, 167);

  &:hover {
    color: rgba(211, 167, 167, 0.9);
  }

  .menu {
    li {
      margin-bottom: 5vh;
    }
  }
}
