@font-face {
	font-family: 'iransans';
        src: url('../fonts/iransans/IRANSans-Bold-web.eot');

	src: url('../fonts/iransans/IRANSans-Bold-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/iransans/IRANSans-Bold-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/iransans/IRANSans-Bold-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/iransans/IRANSans-Bold-web.ttf') format('ttf');
	font-weight: bold;
}


@font-face {
	font-family: 'iransans';
        src: url('../fonts/iransans/IRANSans-Medium-web.eot');

	src: url('../fonts/iransans/IRANSans-Medium-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/iransans/IRANSans-Medium-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/iransans/IRANSans-Medium-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/iransans/IRANSans-Medium-web.ttf') format('ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'iransans';
        src: url('../fonts/iransans/IRANSans-UltraLight-web.eot');

	src: url('../fonts/iransans/IRANSans-UltraLight-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/iransans/IRANSans-UltraLight-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/iransans/IRANSans-UltraLight-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/iransans/IRANSans-UltraLight-web.ttf') format('ttf');
	font-weight: 200;
}


@font-face {
	font-family: 'iransans';
        src: url('../fonts/iransans/IRANSans-Light-web.eot');

	src: url('../fonts/iransans/IRANSans-Light-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/iransans/IRANSans-Light-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/iransans/IRANSans-Light-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/iransans/IRANSans-Light-web.ttf') format('ttf');
	font-weight: 300;
}


@font-face {
	font-family: 'iransans';
        src: url('../fonts/iransans/IRANSans-web.eot');

	src: url('../fonts/iransans/IRANSans-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/iransans/IRANSans-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/iransans/IRANSans-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/iransans/IRANSans-web.ttf') format('ttf');
	font-weight: normal;
}

