<div class="draft upload text-center">
  <div uib-progressbar class="uploader progress-striped active" max="count" value="current" type="warning">
    {{ ((current / count) * 100).toFixed(2) }}%
  </div>

  <span ng-show="!done">
    <img src="public/images/loading.svg" />
    در حال ذخیره اسناد در پایگاه داده ... این عملیات ممکن است چند دقیقه طول بکشد
  </span>

  <span ng-show="done">
    ذخیره سازی با موفقیت به اتمام رسید
  </span>

  <div class="row log" style="max-height: 400px; overflow: auto">
    <div class="col-lg-12 col-md-12">
      <ul class="text-right">
      </ul>
    </div>
  </div>
</div>
