<div class="draft row">
  <div class="sidebar col-lg-2 col-md-2">

    <div class="tools" ng-show="treeConfig.version > 1">
      <button class="btn" ng-click="upload()"><i class="fa fa-upload"></i></button>
    </div>

    <div class="text-center loading" ng-show="locked && treeConfig.version == 1">
      <img src="public/images/loading.svg" />
      در حال دریافت لیست پوشه ها
    </div>

    <div class="row tree">
      <div class="treeview" js-tree="treeConfig" ng-model="treeData" tree="treeInstance"
        tree-events="select_node:onTreeChange;deselect_node:onTreeChange;ready:onTreeReady">
      </div>
    </div>
  </div>

  <div class="main col-lg-10 col-md-10">

    <div class="text-center">
      <div uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
        next-text="صفحه بعد" previous-text="صفحه قبل"
        template-url="app/views/templates/ui-bootstrap/pagination/pagination.html"
        ng-show="totalItems > 10" ng-disabled="locked">
      </div>
    </div>

    <div class="text-center loading" ng-show="locked">
      <img src="public/images/loading.svg" />
      در حال دریافت اطلاعات
    </div>

    <div class="text-center nothing" ng-show="currentPaper == -1 && !locked">
      <i class="fa fa-reddit-alien fa-5x"></i>
      هیچ موردی برای نمایش وجود ندارد
    </div>


    <ul class="images" ng-repeat="image in images">
      <li>
        <img src="data:image/png;base64,{{ image.data }}"/>
      </li>
    </ul>

  </div>
</div>
